.assignment-entry
	.resume-date-entry
		.resume-event
			=	'Client: '
			a(target='_blank', href=entry.client_link)= entry.client
			= 	', ' + entry.location
		.resume-event-date
			=	entry.start + ' - ' + entry.end
	.resume-paragraph= entry.description
