div.row.resume-date-entry
	div.small-12.column.resume-event
		= school.major + ', ' + school.degree
	div.small-8.column.resume-text
		= school.institution + ', ' + school.location
	div.small-4.column.resume-event-date
		= school.grad_month + ' ' + school.grad_year