.resume-date-entry
	.resume-event
		= school.major + ', ' + school.degree
	.resume-text
		= school.institution + ', ' + school.location
	.resume-event-date
		= school.grad_month + ' ' + school.grad_year