.resume-date-entry.employer-entry
	.resume-event
		= employer.title + ', '
		a(target='_blank', href=employer.link)
			= employer.employer
	.resume-event-date
		= employer.start + ' - ' + employer.end