div.row.resume-date-entry.employer-entry
	div.small-8.column.resume-event
		= employer.title + ', '
		a(target='_blank', href=employer.link)
			= employer.employer
	div.small-4.column.resume-event-date
		= employer.start + ' - ' + employer.end