.row
	h1= repoTitle
	div
	- for( var i = 0; i < repos.length; i++ )
		.repo-entry
			.repo-name
				a(href= repos[i].html_url || repos[i].links.html.href)
					= repos[i].name
			.repo-date
				span.repo-date-label Last Update:
				- var date = repos[i].updated_at || repos[i].updated_on
				- var dateParse = repos[i].updated_at ? "YYYY-MM-DD HH:mm:ss" : "YYYY-MM-DD HH:mm:ss. Z"
				= moment( date, dateParse ).format( "MMM Do, YYYY" )
			.repo-description
				if( !repos[i].description || repos[i].description.length == 0 )
					| No description found.
				else
					= repos[i].description