#about-me
    h1#front-title.section-title Eric.
    .content-section
        | I started programming in high school, but long before that I was given a Nintendo for my fifth birthday. I consider it to be the most integral influence that my parents could have given me as it has helped contribute greatly to my academic and professional success as an adult.
    .content-section
        | Ever since then, I've held a passion for games and, more importantly, a passion for problem-solving. I get to pursue that every day in my occupation. The pages here are a peek into me as a professional and as a programming hobbyist.
    .content-section
        | Professionally, I'm employed as a consultant and enjoy the pace and the dynamic nature of working with different clients and technologies. I'm always on the look out for new growth opportunities, especially those revolving around the game industry, UI design, web technologies, and javascript.
    .content-section
        | I'm currently located in Columbus, OH and love the city. It is my favorite place in this Ohio. From time to time I visit California and would embrace an opportunity to move out west and broaden my horizons.
    .content-section
        | If you see anything you would like to comment on feel free to email me <a href="mailto:eric.butler.000@gmail.com">here</a>.