<div>
	<div id="frontTitle" class="sectionTitle">Eric Butler.</div>
	<div class="sectionContent">
		I started programming back in high school but long before that I was given a Nintendo (NES) for my birthday at the age of five. 
		I consider it to be one of the most integral influences that my parents could have given me and has helped contribute
		greatly to my academic and professional success as an adult.
	</div>
	<div class="sectionContent">
		Ever since that point I've held a passion for games and, more importantly, the abstract processes of problem-solving, 
		fairness, and optimization. I carry those passions into my occupations as I've carried them through my personal life. The 
		pages herein are a collection or showcase of sorts for potential employers or just friends looking to see what I do with
		my spare time and my time at the office.  						
	</div>
	<div class="sectionContent">
		I'm professionally employed as an IT Consultant and I enjoy the pace and the dynamic nature of the different clients and 
		technologies that I get to use.  I'm always on the look out for new opportunities for growth, especially ones revolving around the 
		game industry, UI design, web technologies, and javascript.
	</div>
	<div class="sectionContent">
		Everything here is either my opinion or my creation unless otherwise noted. If you see anything you would like to comment on feel free to email me <a href="mailto:eric.butler.000@gmail.com">here</a>.
	</div>
</div>