<link rel="stylesheet" href="css/aboutme.css"/>
<script src="js/aboutme.js"></script>
<div>
	<div id="aboutMe">
        <h1 id="frontTitle" class="sectionTitle">Eric.</h1>
        <div class="sectionContent">
            I started programming in high school, but long before that I was given a Nintendo (NES) for my fifth birthday. I consider it to be the most integral influence that my parents could have given me, as it has helped contribute greatly to my academic and professional success as an adult.
        </div>
        <div class="sectionContent">
            Ever since then, I've held a passion for games and, more importantly, a passion for problem-solving. I get to pursue that every day in my occupation. The pages here are not only an elaboration of me as a professional, but also a look into me as a person.
        </div>
        <div class="sectionContent">
            Professionally, I'm employed as a consultant and enjoy the pace and the dynamic nature of working with different clients and technologies. I'm always on the look out for new growth opportunities, especially those revolving around the game industry, UI design, web technologies, and javascript.
        </div>
        <div class="sectionContent">
            I'm currently located in Columbus, OH and love the city. It is by far the best place to reside in this state. However I visit California every so often and would embrace an opportunity to move out west and broaden my horizons.
        </div>
        <div class="sectionContent">
            Everything here is my opinion; if you don't like it you should navigate away from my page. If you see anything you would like to comment on feel free to email me <a href="mailto:eric.butler.000@gmail.com">here</a>.
        </div>
    </div>
    <h2 id="thoughtsTitle">Some Quick Thoughts</h2>
    <div class="thoughtsSection">
        <div class="title">
            <i class="fa fa-plus-square"></i> Java - The COBOL of Tomorrow!
        </div>
        <div class="content">
            <div class="sectionContent">
                My first and only OOP love... for now. I started Java back in high school after having learning introductory C++ and found the ability to draw a smiley with only a few lines of code to be mesmerizing compared to the console applications we'd practiced on with C++. But my short exposure to Java would be punctuated with a six year hiatus as I went off to college and strayed into the qualitative world of Philosophy, then back into the quantitative world of Economics, and then finally (for now) into the technical world of programming again after grad school.
            </div>
            <div class="sectionContent">
                I prefer Java when I'm working in OOP for its familiarity and thus ease of syntax. I'm familiar with its popular toolsets like Spring, Hibernate, Maven, JSTL. But I realize that I should be picking up languages like Groovy or Clojure to stay more abreast of the field. It's just hard to when there's so much more to have fun with in Javascript!
            </div>
            <div class="sectionContent">
               I also program half-finished awful-looking games in Java when I have time. If you're really interested to see these discontinued abominations feel free to ask for my BitBucket info.
            </div>
        </div>
    </div>
    <div class="thoughtsSection">
        <div class="title">
            <i class="fa fa-plus-square"></i> Javascript - The Little Language that Could
        </div>
        <div class="content">
            <div class="sectionContent">
                When I first started in this field I was a "Java" guy. I had zero experience with Javascript but was informed by my then employer that I needed to learn it, like yesterday. So I went to work familiarizing myself with the syntax and JQuery. For a long time JQuery was the only way I knew Javascript.
            </div>
            <div class="sectionContent">
                In the beginning I was appalled. Var? Really? No classes? How could I extend anything?! Everything I had learned from Java was being eviscerated and left for dead. But my position demanded I work to write/fix/understand that language and so I did. Sometime later I suddenly realized that the most fun parts of my day were learning some new JQuery animation, some new CSS trick, or just attaching some chain of events and AJAX calls to a frontend. Before I realized what was happening I was embracing Hungarian Notation, Duck Typing, HashMaps as my objects. Loosely-typed just made sense in the web and I am happy to go with it.
            </div>
        </div>
    </div>
    <div class="thoughtsSection">
        <div class="title">
            <i class="fa fa-plus-square"></i> HTML & CSS - Snappy Dressers
        </div>
        <div class="content">
            <div class="sectionContent">
                In my opinion these "languages" do what they're supposed to and nothing more. I respect that. Using CSS3 with pre-processors like LESS has allowed me to handle the majority of neat visual tricks and appearances that I have ever wanted to create. HTML5 has brought new nice stock tags for some features and has broken the monotony of infinite DIVs. In general I never have a bad time writing frontend code and enjoy CSS challenges while still trying to write maintainable selector setups. I like building my own CSS setups but see value in frameworks like Foundation.
            </div>
        </div>
    </div>
    <div class="thoughtsSection">
        <div class="title">
            <i class="fa fa-plus-square"></i> NodeJS - The Messiah
        </div>
        <div class="content">
            <div class="sectionContent">
                Node has introduced something that would be mind-blowing to me as a novice javascript coder a few years back. Seamless web dev in pure Javascript! I'm still an amateur at Node but I love working with it. This page is hosted on a Node server of mine and everything from NPM to MongoDB has been intriguing and fun to work with. I have high hopes for Node.
            </div>
        </div>
    </div>
    <div class="thoughtsSection">
        <div class="title">
            <i class="fa fa-plus-square"></i> if( language.startsWith('p') ) face.setMouth( EXPRESSIONS.FROWN );
        </div>
        <div class="content">
            <div class="sectionContent">
                I do not care for them.
            </div>
        </div>
    </div>
</div>