<link rel="stylesheet" href="css/examples.css"/>

<div id="examplesPage">
	<div id="chatLog">
		{{ for(var i in records) { }}
			<div class="messageLine">
				<span class="userNameTag">{{=records[i].name}}</span> - <span class="messageTimestamp">{{=records[i].updated_time}}</span>: <span class="textLine">{{=records[i].words}}</span>
			</div>	
		{{ } }}
	</div>
</div>