
<link rel="stylesheet" href="css/recreations.css"/>
<script src="js/content/recreations.js"></script>

<div id="recreationsPage">
	<div id="gamesPortal" class="recreationsPortals">Games</div>
	<div id="musicPortal" class="recreationsPortals">Music</div>
	<div id="readingPortal" class="recreationsPortals">Reading</div>
	<div id="codingPortal" class="recreationsPortals">Coding</div>
</div>