#resume
	header#resume-title
		#resume-title-name
			= resume.firstname + ' ' + resume.lastname
		#resume-title-info
			.address-line
				= resume.bio_data.location
			.address-line
				= resume.bio_data.email
			.address-line
				= resume.bio_data.phone
	section#resume-body
		#resume-body-left
			.resume-header EDUCATION
			- for( var edu in resume.bio_data.education.schools )
				- var school = resume.bio_data.education.schools[edu];
					include ../partials/education-entry.jade

			#experience-title.resume-header EXPERIENCE

			#employers
				- for( var e in resume.bio_data.experience.positions )
					- var employer = resume.bio_data.experience.positions[e];
						include ../partials/employer-entry.jade
			#assignments
				.resume-header PROJECTS
				- for( var p in resume.bio_data.experience.projects )
					- var entry = resume.bio_data.experience.projects[p];
						include ../partials/assignment-entry.jade