<div id="resume">
	<header id="resume-title" class="small-12 column">
		<div id="resume-title-name" class="small-4 medium-8 columns">{{= resume.firstname }} {{= resume.lastname }}</div>
		<div id="resume-title-info" class="small-8 medium-4 columns">
			<div class="address-line">{{= resume.bio_data.location }}</div>
			<div class="address-line">{{= resume.bio_data.email }}</div>
			<div class="address-line">{{= resume.bio_data.phone }}</div>
		</div>
	</header>
	<section id="resume-body" class="row collapse">
		<div id="resume-body-left" class="small-12 medium-12 columns">
			<div class="resume-header">EDUCATION</div>
			{{ for( var edu in resume.bio_data.education.schools ) { }}
				{{ var education = resume.bio_data.education.schools[edu]; }}
				{{ include ../templates/education-entry.ejs }}
			{{ } }}

			<div id="experience-title" class="resume-header">EXPERIENCE</div>

			<div id="employers">
				{{ for( var e in resume.bio_data.experience.positions ) { }}
					{{ var employer = resume.bio_data.experience.positions[e]; }}
					{{ include ../templates/employer-entry.ejs }}
				{{ } }}
			</div>

			{{ for( var p in resume.bio_data.experience.projects ) { }}
				{{ var entry = resume.bio_data.experience.projects[p]; }}
				{{ include ../templates/assignment-entry.ejs }}
			{{ } }}
		</div>
	</section>
</div>