div#works.small-12.column
	- var repoTitle = 'Github Projects'
	- var repos = github_repos
	include ../partials/repos-report

	- repoTitle = 'Bitbucket Projects'
	- repos = bitbucket_repos
	include ../partials/repos-report

div.medium-offset-7.medium-5.small-12.end.column.repo-updated-last
	| Repos retrieved:
	= moment(updated_last).format("h:mma MMM Do, YYYY")