#works
	- var repoTitle = 'Github Projects'
	- var repos = github_repos
	include ../partials/repos-report

	- repoTitle = 'Bitbucket Projects'
	- repos = bitbucket_repos
	include ../partials/repos-report

.repo-updated-last
	= 'Repos retrieved: ' + moment(updated_last).format("h:mma MMM Do, YYYY")