<!DOCTYPE html>

<html>
	<head>
		<title>Eric Butler</title>
		<link rel="stylesheet" href="css/core.css" />
		
		<script src="js/jquery/jquery-1.8.2.js"></script>
		<script src="js/jquery-ui-1.9.1.custom.js"></script>
		<script src="js/clouds.js"></script>
	</head>
	<body>
		<div id="mainContentDiv">
		</div>
		<img id="cloudTemplate" class="cloudObject hidden" src="/img/cloud1.png"/>
	</body>
</html>
