doctype html
html
    head
        title Eric Butler
        meta(content='width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no', name='viewport')
        link(rel="stylesheet", href="/css/bundled.css")
        link(rel='shortcut icon', href='imgs/favicon.ico')
        script(src="/js/bundled.js")
    body
        header#top-navigation
            #about-me-nav.permanent-nav.menu-option.js-about-me-nav(data-url='aboutme')
                | About Me
                i.nav-icons.fa.fa-info-circle
            #resume-nav.permanent-nav.menu-option.js-resume-nav(data-url='resume')
                | Resum&eacute;
                i.nav-icons.fa.fa-file-text
            #work-nav.permanent-nav.menu-option.js-works-nav(data-url='works')
                | Works
                i.nav-icons.fa.fa-folder-open
        main#main-content
        footer
            a.permanent-nav.pure-1-3(data-url='home')
            | ericbutler.info
            i.nav-icons.fa.fa-home