doctype html
html
    head
        title Eric Butler
        meta(content='width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no', name='viewport')
        link(rel="stylesheet", href="/css/bundled.css")
        link(rel='shortcut icon', href='imgs/favicon.ico')
        script(src="/js/bundled.js")
    body
        navigation-bar
        main#main-content
        footer
            a.permanent-nav.pure-1-3(data-url='home')
            | ericbutler.info
            i.nav-icons.fa.fa-home