<!DOCTYPE html>

<html>
	<head>
		<title>Eric Butler</title>
        <meta content='width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no' name='viewport' />
		<link rel="stylesheet" href="css/core.css"/>
		<link rel="stylesheet" href="css/start.css"/>
		<link rel="shortcut icon" href="img/favicon.ico" />
		<script src="js/jquery/jquery-1.8.2.js"></script>
		<script src="js/jquery/jquery.ba-bbq.min.js"></script>
		<script src="js/PageTransitions.js"></script>
		<script src="js/start.js"></script>
	<body>
        <div id="navigationDiv">
            <div id="aboutMeButton" class="menuLink">About Me</div>
            <div id="resumeButton" class="menuLink">Resume</div>
        </div>
        <div id="contentDiv">
        </div>
	</body>
</html>