<!DOCTYPE html>

<html>
	<head>
		<title>Collected works of Eric Butler</title>
		<link rel="stylesheet" href="css/core.css"/>	
		<link rel="stylesheet" href="css/jquery/trontastic/jquery-ui-1.9.1.custom.css"/>	
		<link rel="stylesheet" href="css/start.css"/>	
		<link rel="shortcut icon" href="img/favicon.ico" />
		<script src="js/jquery/jquery-1.8.2.js"></script>
		<script src="js/jquery/jquery-ui-1.9.1.custom.js"></script>
		<script src="js/jquery/jquery.ba-bbq.min.js"></script>
		<script src="js/common.js"></script>
		<script src="js/start.js"></script>
		<!--[if IE]>  
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>  
		<![endif]--> 
	</head>
	<body>
		<div id="mainDiv">
			<div id="navigationDiv">
				<div id="navbar">
					<div id="aboutMeButton" class="menuLink">About Me</div>
					<div id="resumeButton" class="menuLink">Resume</div>
					<div id="examplesButton" class="menuLink">Examples</div>
					<div id="projectsButton" class="menuLink">Projects</div>
					<div id="recreationButton" class="menuLink">Recreation</div>
				</div>				
			</div>
			<div id="contentDiv">
			</div>
		</div>
	</body>
</html>