#contentDiv {
	background: none;
}
	
	#recreationsPage {
		width: 38em;
		margin: auto;
	}
	
		.recreationsPortals {
			width: 18em;
			height: 9em;
			border: 4px solid black;
			border-radius: 10px;
			text-align: center;
			line-height: 9em;
			display: inline-block;
			margin-top: 1em;
			background-color: gainsboro;
			cursor: pointer;
		}
		
		.recreationsPortals:hover {
			color: yellow;
			font-weight: bold;
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		
		#gamesPortal:hover {
			background-image: url("../img/gamesPortal.png");
		}
		
		#readingPortal:hover {
			background-image: url("../img/readingPortal.jpg");
		}
		
		#musicPortal:hover {
			background-image: url("../img/musicPortal.png");
		}
		
		#codingPortal:hover {
			background-image: url("../img/codingPortal.png");
		}
		
		
		