<!-- Entry Break -->
<div class="assignment-entry">
	<div class="row resume-date-entry">
		<div class="small-12 columns resume-event">Client: <a target="_blank" href="{{= entry.client_link }}">{{= entry.client }}</a>, {{= entry.location }}</div>
		<div class="small-8 columns resume-text">Project: {{= entry.project }}</div>
		<div class="small-4 columns resume-event-date">{{= entry.start }} - {{= entry.end }}</div>
	</div>
	<div class="resume-paragraph">{{= entry.description }}</div>
</div>