<div class="row resume-date-entry">
    <div class="small-12 columns resume-event">{{= education.major }}, {{= education.degree }}</div>
    <div class="small-8 columns resume-text">{{= education.institution }}, {{= education.location }}</div>
    <div class="small-4 columns resume-event-date">{{= education.grad_month }} {{= education.grad_year }}</div>
</div>