<div class="row resume-date-entry employer-entry">
    <div class="small-8 columns resume-event">{{= employer.title }}, <a target="_blank" href="{{= employer.link }}">{{= employer.employer }}</a></div>
    <div class="small-4 columns resume-event-date">{{= employer.start }} - {{= employer.end }}</div>
</div>