/***

   colors.css v2.0.0
   http://clrs.cc
   @mrmrs
   MIT License

***/

@import "variables";
@import "skins";

/**
My Palette
**/
$bluetwo: #86bbd8;
$bluethree: #2f4858;
$greenone: #9ee493;
$greentwo: #daf7dc;

$colorone: #336699;
$colorfour: #ed6a5a;
$colorfive: #f4f1bb;

