@import "colors";

$tinySize: 240px;
$smallSize: 360px;
$mediumSize: 640px;
$regularSize: 1024px;

.flexify {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}