@import "utils";

#main-content {
	background-color: $silver;
	width: 100%;
	box-sizing: border-box;
}

#about-me {
	#front-title {
		text-align: center;
	}
	.section-title {
		color: black;
		font-weight: bold;
	}
	.content-section {
		font-weight: bold;
		text-indent: 3em;
	}

	.content-section {
		max-width: 35em;
		margin: auto;
	}
}

#thoughts-title {
	margin-top: 2em;
}

.thoughts-section {
	margin-bottom: 1.5em;
	background: $blue;
	padding: 0.5em;

	.title {
		font-size: 1.25em;
		font-weight: bold;
		cursor: pointer;
	}

	&.active {
		.content {
			max-height: 20em;
		}
	}

	.content {
		max-height: 0px;
		overflow: hidden;
		-webkit-transition: all 1s ease-out;
		-moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		transition: all 1s ease-out;

		.content-section {
			border-left: 1px solid $black;
			padding: 0 0.25em 0 0.25em;
			font-style: italic;
			font-size: 0.75em;
			background: $blue;

			&:last-child {
				padding-bottom: 0.25em;
			}
		}
	}
}
