/*
	blue, darkblue, yellow, orange
*/
@import "utils";
/* Standard quick stuff */
.hidden { display: none; }

/* Object stuff */
.cloudObject { position: absolute; }

/* quick keyword styles */
.bold { font-weight: bold; }
.underline { text-decoration: underline; }

/* Core styles throughout */
html {
	background: $black;
	font-family: sans-serif, monospace;

	body {
		margin: 0px;
		@media (min-width: $tinySize) {
			font-size: 12px;
		}
		@media (min-width: $smallSize) {
			font-size: 16px;
		}
		@media (min-width: $mediumSize) {
			font-size: 20px;
		}
		@media (min-width: $regularSize) {
			font-size: 24px;
		}
	}
}