@import "utils";

$numberOfNavs: 2;
$topNavHeight: 5;
$topNavFont: 2;


#navigationDiv {
	width: 100%;
	height: $topNavHeight + 0em;
	display: flex;
	position: fixed;
	top: 0;
	background: $red;
	opacity: 0.85;
	z-index: 100;
	@extend .flexify;

	.menuLink {
		width: percentage(100 / $numberOfNavs / 100);
		height: 100%;
		border: 2px solid $white;
		box-sizing: border-box;
		text-align: center;
		font-weight: bold;
		font-size: $topNavFont + 0em;
		line-height: ($topNavHeight / $topNavFont) + 0em;
		cursor: pointer;

		.navIcons {
			-webkit-transition: transform 2s ease-out;
			-moz-transition: transform 2s ease-out;
			-o-transition: transform 2s ease-out;
			transition: transform 2s ease-out;
			@media (max-width: $mediumSize) {
				display: none;
			}
		}

		&:hover {
			.navIcons {
				-ms-transform: rotate(720deg);
				-webkit-transform: rotate(720deg);
				transform: rotate(720deg);
			}
		}
	}
}


#contentDiv {
	background-color: $silver;
	width: 100%;
	margin-top: $topNavHeight + 0em;
	padding: 4%;
	box-sizing: border-box;

	#frontTitle {
		text-align: center;
	}

	.sectionTitle {
		color: black;
		font-weight: bold;
	}

	.sectionContent {
		font-weight: bold;
		text-indent: 3em;
	}
}