@import "utils";

html {
	background: $silver;
}

.permanent-nav {
	cursor: pointer;
	display: inline-block;
}

#top-navigation {
}

.permanent-nav {
	background: $red;
	border: 0.1em solid $silver;
	font-size: 2em;
	font-weight: bold;
	padding: 4%;
	text-align: center;
	white-space: nowrap;
}