@import "utils";
@import "foundation/settings";


#resume {
	background: $silver;
}

#resume-title {
	background: $blue;
}

#resume-title-name {
	font-size: 1.75em;
	line-height: 1.75em;
	vertical-align: middle;
	font-weight: bold;
	font-family: Century Gothic, Gothic, Verdana;
}

#resume-title-info {
	text-align: right;

	.address-line {
		font-weight: bold;
	}
}

.resume-header {
	font-family: Century Gothic, Gothic, Verdana;
	font-weight: bold;
	margin-top: 1em;
	text-decoration: underline;
}

.resume-date-entry {
	.resume-event {
		font-size: 1.25em;
		font-weight: bold;
	}
}

.resume-event-date {
	font-style: italic;
}

#employers {
	margin-bottom: 1em;
}

.resume-paragraph {
	text-indent: 2em;
	font-size: 0.75em;
}

#skills-title {
	background: $black;
	color: $silver;
	font-weight: bold;
	text-align: center;
	@media #{$small-only} {
		margin-top: 1.5em;
	}
}

.skill-set {
	margin: 1em 0 0 0;
	text-align: center;
	@media #{$medium-up} {
		margin:0 0 1em 0;
	}
}