@import "utils";
@import "foundation/settings";

#works {
	background: $blue;
	padding-bottom: 2em;

	.repos-updated-last {
		text-align: right;
		font-size: 0.75em;
		margin-top: 2em;
	}

	.repo-entry {
		margin-bottom: .75em;
	}

	.repo-name {
		color: $black;
		font-weight: bold;
		padding-left: 4em;
	}

	.repo-description {
		color: $navy;
		font-style: italic;
	}

	.repo-column-headers {
		text-align: center;
	}

	@media #{$small-only} {
		.repo-name {
			padding-left: 1.5em;
		}

		.repo-description, .repo-date {
			padding-left: 2.5em;
		}

		.repo-date-label {
			display: inline;
		}
	}
}

