
@import "utils";
@resumeEntryLeftSideWidth: 60%;

#contentDiv {
	#resumeTitle {
		background: @blue;
		position: relative;
		.flexify;

		#resumeTitleLeft {
			vertical-align: middle;
			width: 50%;
			font-weight: bold;
			font-family: Century Gothic, Gothic, Verdana;
			box-sizing: border-box;
			font-size: 1.75em;
			line-height: 1.75em;
		}

		#resumeTitleRight {
			text-align: right;
			position: relative;
			right: 1%;
			width: 50%;
			box-sizing: border-box;

			.addressLine {
				font-weight: bold;
				font-family: Sans-Serif;
				@media( max-width: @mediumSize ) {
					font-size: 0.75em;
				}
			}
		}
	}

	#resumeBody {
		font-family: Calibri, Verdana, Arial;
		position: relative;

		#resumeBodyLeft {
			display: inline-block;
			padding: 0 1% 0 4%;
			vertical-align: top;
			width: 75%;

			.resumeText {
				width: @resumeEntryLeftSideWidth;
			}

			.resumeHeader {
				font-family: Century Gothic, Gothic, Verdana;
				font-weight: bold;
				text-decoration: underline;
				margin-top: 1em;
			}

			.resumeDateEntry {
				position: relative;
				margin-top: 0.5em;

				&.employerEntry:last-child {
					margin-bottom: 2.25em;
				}

				.resumeEvent, .resumeEventDate {
					display: inline-block;
					font-size: 1.25em;
				}

				.resumeEvent {
					font-weight: bold;
					width: @resumeEntryLeftSideWidth;
				}

				.resumeEventDate {
					position: absolute;
					right: 0.25em;
					font-size: 0.85em;
					text-align: right;
					font-style: italic;
					width: percentage((100 - @resumeEntryLeftSideWidth - 5)/100);
				}
			}

			#experienceSection {
				margin-bottom: 2em;
			}

			.assignmentEntry {
				.resumeParagraph {
					text-indent: 2em;
					font-size: 0.75em;
				}

				&:after {
					content: ' ';
					height: 2px;
					width: 2px;
					box-sizing: border-box;
					border: 1px solid black;
					width: 100%;
					display: block;
				}
			}

			@media( max-width: @mediumSize ) {
				width: 96%;
				padding-right: 0;
			}
		}


		#resumeBodyRight {
			.left, .right {
				margin-bottom: 1em;
			}

			#skillsTitle {
				background: @black;
				color: @silver;
				font-weight: bold;
			}

			width: 20%;
			background: @gray;
			position: absolute;
			right: 0em;
			top: 0em;
			text-align: center;
			height: 100%;

			@media( max-width: @mediumSize ) {
				position: relative;
				width: auto;

				.left, .right {
					font-size: 2em;
				}
			}
		}
	}
}










