/***

   colors.css v2.0.0
   http://clrs.cc
   @mrmrs
   MIT License

***/

@import "variables";
@import "skins";

$linkColor: #336699;

/** First Palette **/
//$colorone: #86bbd8;
//$colortwo: #2f4858;
//$colorthree: #ed6a5a;
//$colorfour: #f4f1bb;

/** Forest Palette **/
//$colorone: #617087;
//$colortwo: #788571;
//$colorthree: #C4CB23;
//$colorfour: #9C9DA2;

/** Blues palette **/
$colorone: $blue;
$colortwo: $teal;
$colorthree: $green;
//$colorfour: $gray
$colorfour: #ccc;
