
@import "colors";
@import "skins";
@import "mixins";

$probablyMobileMax: 640px;
$siteBackground: #eee;
$textColor: #222;
$linkColor: #336699;
$ctaColor: $green;

/** First Palette **/
//$colorone: #86bbd8;
//$colortwo: #2f4858;
//$colorthree: #ed6a5a;
//$colorfour: #f4f1bb;

/** Forest Palette **/
//$colorone: #617087;
//$colortwo: #788571;
//$colorthree: #C4CB23;
//$colorfour: #9C9DA2;

/** Blues palette **/
$colorone: $blue;
$colortwo: $teal;
$colorthree: $green;
//$colorfour: $gray
$colorfour: #ccc;
$specialBackground: radial-gradient($colorthree 0%, $colorthree 50%, darken($colorthree, 20%) 75%, darken($colorthree, 20%) 100%);