@import 'variables';

html {
	background: $siteBackground;
	color: $textColor;

	main,
	#bottom-navigation {
		width: 100vw;
	}

	main {
		position: absolute;
		top: 5vh;
		height: 90vh;
		width: 100vw;
		padding: 1em;
	}
}

a,
a:-webkit-any-link,
a:visited {
	color: $linkColor;
}

body {
	@media all and (min-width: 480px) {
		font-size: 1.5rem;
	}

	@media all and (min-width: 768px) {
		font-size: 1.5rem;
	}
}

h1 {
	color: $colorone;
	font-size: 3rem;
	font-family: 'Times New Roman', Times, serif;
}

li {
	position: relative;
	list-style-type: none;
	
	&:before {
		position: absolute;
		content: '-';
		left: -1em;
		font-weight: bold;
		color: $colorone;
	}
}