@import 'variables';

html {
  background: $siteBackground;

  header,
  main,
  #bottom-navigation {
    width: 100vw;
  }

  body > header {
    position: absolute;
    top: 0;
    left: 0;
    height: 10vh;
    box-shadow: 0px 5px 20px #bbb;
  }

  main {
    position: absolute;
    top: 10vh;
    height: 80vh;
    width: 100vw;
    overflow: scroll;
  }

  footer {
    position: absolute;
    top: 90vh;
    height: 10vh;
    width: 100vw;
    background: #ddd;
    box-shadow: 0px -5px 20px #bbb;
  }
}
