@import 'variables';

html {
	background: $siteBackground;
	color: $textColor;
	overflow: hidden;

	main,
	#bottom-navigation {
		width: 100vw;
	}

	main {
		position: absolute;
		font-size: 3.5vmin;
		top: 5vh;
		height: 90vh;
		width: 100vw;
		padding: 1em;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

a:visited {
	color: inherit;
}