@import "variables";
@import "colors";

#resume {
  background: #eee;

  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
    font-size: 3vw;
    background: $colortwo;
    color: $white;
  }
}

#resume-title-name {
  font-size: 1.75em;
  line-height: 1.5em;
  vertical-align: middle;
  font-weight: bold;
  font-family: Century Gothic, Gothic, Verdana;
}

#resume-title-info {
  text-align: right;

  .address-line {
    font-weight: bold;
  }
}

.resume-header {
  font-family: Century Gothic, Gothic, Verdana;
  font-weight: bold;
  margin-top: 1em;
}

.assignment-entry {
  margin-bottom: 2rem;
}

.resume-event {
  font-weight: bold;

  a {
    text-decoration: none;
    color: $linkColor;

    &:visited {
      color: $linkColor;
    }
  }
}

.resume-date-entry {
  margin-left: 2em;
}

.resume-event-date {
  font-style: italic;
}

#employers {
  margin-bottom: 1em;
}

.resume-paragraph {
  text-indent: 2em;
}

#skills-title {
  background: $black;
  color: $silver;
  font-weight: bold;
  text-align: center;
  margin: 0;

  @media (max-width: $probablyMobileMax) {
    margin-top: 1.5em;
  }
}